@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Roboto:400,700');
/* Variables */
/* Mixins */
.serif {
  font-family: 'Bree Serif', serif;
}
.sans-serif {
  font-family: 'Roboto', sans-serif;
}
.no-decoration {
  text-decoration: none;
}
/* Links */
a {
  text-decoration: none;
}
.collapse {
  font-family: 'Roboto', sans-serif;
}
/* Titles */
.block-title {
  font-family: 'Bree Serif', serif;
  font-size: 32px;
}
.title {
  font-family: 'Bree Serif', serif;
  color: #333;
  font-size: 24px;
}
.subtitle {
  font-family: 'Bree Serif', serif;
  color: #333;
  font-size: 21px;
}
/* Body */
.content {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}
/* Variables */
/* Mixins */
body {
  font-family: 'Roboto', sans-serif;
  background-image: url('../img/background.png');
  padding: 0;
  margin: 0;
}
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.page-content {
  padding: 40px 20px;
}
.trifecta {
  border-left: 20px solid #eee;
  margin-bottom: 20px;
}
.block-inner {
  background-color: #fff;
  padding: 20px;
  display: block;
}
.block-content {
  overflow: hidden;
  max-height: 0;
  opacity: 0;
}
.content-open {
  opacity: 1;
  max-height: 500px;
}
a.collapse {
  float: right;
  border: 4px solid;
  border-radius: 30px;
  padding: 0 11px 1px;
}
a.collapse.active {
  transform: rotate(45deg);
}
/* Animation */
.block-inner,
.block-content,
a.collapse {
  transition: all 0.5s ease-in-out;
}
/* Borders */
.issues {
  border-color: #225378;
}
.issues .block-title {
  color: #225378;
}
.issues a.collapse {
  color: #225378;
  border-color: #225378;
}
.news {
  border-color: #1695A3;
}
.news .block-title {
  color: #1695A3;
}
.news a.collapse {
  color: #1695A3;
  border-color: #1695A3;
}
.events {
  border-color: #EB7F00;
}
.events .block-title {
  color: #EB7F00;
}
.events a.collapse {
  color: #EB7F00;
  border-color: #EB7F00;
}
.views-row {
  border-bottom: 1px solid #ccc;
}
.views-row:last-of-type {
  border-bottom: none;
}
/***
 * Media Queries
 **/
/* Tablets */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .page-content {
    padding: 80px 60px;
  }
}
/* Desktops */
@media only screen and (min-width: 1024px) {
  .page-content {
    padding: 80px 23px 80px 60px;
  }
  .page-content > .trifecta:last-of-type {
    padding-right: 37px;
  }
  .trifecta {
    float: left;
    width: 33%;
    padding-right: 37px;
    margin-bottom: 0;
  }
  .trifecta:after {
    content: "";
    display: table;
    clear: both;
  }
  .block-content {
    max-height: inherit;
    opacity: 1;
  }
  a.collapse {
    display: none;
  }
}
