@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Roboto:400,700');

/* Variables */

@base: #333;

/* Mixins */

.serif {
    font-family: 'Bree Serif', serif;
}

.sans-serif {
    font-family: 'Roboto', sans-serif;
}

.no-decoration {
    text-decoration: none;
}


/* Links */

a {
    .no-decoration;
}

.collapse {
    .sans-serif;
}


/* Titles */

.block-title {
    .serif;
    font-size: 32px;
}

.title {
    .serif;
    color: @base;
    font-size: 24px;
}

.subtitle {
    .serif;
    color: @base;
    font-size: 21px;
}


/* Body */

.content {
    .sans-serif;
    font-size: 16px;
}
