@import 'fonts';

/* Variables */

@issues-color: #225378;
@news-color: #1695A3;
@events-color: #EB7F00;

/* Mixins */

.block-views (@color) {
    border-color: @color;
    .block-title {
        color: @color;
    }
    a.collapse {
        color: @color;
        border-color: @color;
    }
}

body {
    font-family: 'Roboto', sans-serif;
    background-image: url('../img/background.png');
    padding: 0;
    margin: 0;
}

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.page-content {
    padding: 40px 20px;
}

.trifecta {
    border-left: 20px solid #eee;
    margin-bottom: 20px;
}

.block-inner {
    background-color: #fff;
    padding: 20px;
    display: block;
}

.block-content {
    overflow: hidden;
    max-height: 0;
    opacity: 0;
}

.content-open {
    opacity: 1;
    max-height: 500px;
}

a.collapse {
    float: right;
    border: 4px solid;
    border-radius: 30px;
    padding: 0 11px 1px;
}

a.collapse.active {
    transform: rotate(45deg);
}


/* Animation */

.block-inner,
.block-content,
a.collapse {
    transition: all 0.5s ease-in-out;
}


/* Borders */

.issues {
    .block-views(@issues-color);
}

.news {
    .block-views(@news-color);
}

.events {
    .block-views(@events-color);
}

.views-row {
    border-bottom: 1px solid #ccc;
    &:last-of-type {
        border-bottom: none;
    }
}


/***
 * Media Queries
 **/


/* Tablets */

@media only screen and (min-width: 768px) and (max-width:1023px) {
    .page-content {
        padding: 80px 60px;
    }
}


/* Desktops */

@media only screen and (min-width: 1024px) {
    .page-content {
        padding: 80px 23px 80px 60px;
        &>.trifecta:last-of-type {
            padding-right: 37px;
        }
    }
    .trifecta {
        float: left;
        width: 33%;
        &:after {
            content: "";
            display: table;
            clear: both;
        }
        padding-right:37px;
        margin-bottom: 0;
    }
    .block-content {
        max-height: inherit;
        opacity: 1;
    }
    a.collapse {
        display: none;
    }
}
